<div style="display: flex; background-color: lightcyan; height: 100vh;">
  <div style="margin: 10% auto;">
      <h3>Check your password</h3>
      <div class="form-group">
        <input class="form-control" placeholder="Enter Password" type="text" (input)="onInput($event)">
      </div>
      
      <div style="height: 10px; margin-top: 3px;" [style.background]="getFirstColor()"></div>
      <div style="height: 10px; margin-top: 3px;" [style.background]="getSecondColor()"></div>
      <div style="height: 10px; margin-top: 3px;" [style.background]="getThirdColor()"></div>

  </div>
</div>